.album-wrapper{
  background-color: #454545;
  padding: 24px;
}

.album-details{
  flex-direction:column;
  color: white;
  justify-content: space-between;
  font-size: x-small;
  font-weight: bold;
}

.album-controls{
  justify-content: space-between;
}

.album-control-wrapper{
  column-gap: 6px;
}

.album-image img{
  width: 90%;
  height: 100%;
}
