@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
html,body{
  font-family: 'Lato', sans-serif;
}

.wrapper{
  padding:6px;
}

.song-row{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left:12px;
}

.row-data{
  flex:1;
}

.song-row:nth-child(even) {
  background-color: #F0F0F0;
}

.song-url-tag{
  border: 1px solid black;
  padding-left: 2px;
  padding-right: 2px;
  text-transform: capitalize;
  color: #2B41E5;
}

img { 
  width: 100%; height: auto; 
}