.sidebar-wrapper{
  height: calc(100vh - 151px);
  background-color: #F0F0F0;
  padding: 24px 8px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.display-flex{
  display:flex;
}

.song-playlist{
  flex:1;
}