.square{
    width: 150px;
    height: 150px;
}

.red{
    background-color: red;
    transform: rotate(0deg);
    transition: transform 1s linear;
    transform-origin: top left;
}

.yellow{
    background-color: yellow;
    transform: rotate(0deg);
    transform-origin: top right;
    transition: transform 1s linear;
}

.blue{
    background-color: blue;
    transform: rotate(0deg);
    transform-origin: bottom left;
    transition: transform 1s linear;
}

.green{
    background-color: green;
    transform: rotate(0deg);
    transform-origin: bottom right;
    transition: transform 1s linear;
}

.flex{
    display: flex;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}

.text-container{
    font-size: xx-large;
    position: absolute;
    z-index: -1;
}

.main-container:hover .red{
    transform: rotate(90deg);
    transform-origin: top left;
    transition: transform 1s linear;     
}

.main-container:hover .yellow{
    transform: rotate(-90deg);
    transform-origin: top right;
    transition: transform 1s linear;     
}

.main-container:hover .blue{
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transition: transform 1s linear;     
}

.main-container:hover .green{
    transform: rotate(90deg);
    transform-origin: bottom right;
    transition: transform 1s linear;
}